<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID19</title>
</head>
<body>
    <h1>COVID19</h1>
    <img src="covid19.png" width="1000" height="550">
</body>
</html>